body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.header {
  background: rgb(151, 151, 212);
  color: white;
  text-align: center;
  padding: 20px;
}
.header img {
  width: 100px;
  height: 100px;
  border-radius: 55%;
}
.navbar {
  display: flex;
  justify-content: center;
  background: #333;
  padding: 10px 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 18px;
}
.navbar a:hover {
  background: rgb(151, 151, 212);
}
.content {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 600px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background: rgb(151, 151, 212);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}
button:hover {
  background:  rgb(151, 151, 212);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 10px 0;
  font-size: 18px;
}